
.how-to-enter {background: url(../../img/how-to-enter-bg.jpg) no-repeat center center / cover;
  font-size: 22px;
  padding-top: 65px;
  padding-bottom: 350px;
  counter-reset: ol;
  position: relative;

  @media (min-width: $screen-md) {
    font-size: 27px;
  }
  @media (max-width: $screen-sm) {
    background: url(../../img/how-to-enter-bg-mobile.jpg) no-repeat center bottom / cover;
    padding-bottom: 750px;
  }
  @media (max-width: $screen-nav - 1) {
    padding-top:150px;
  }

  @media (min-width: $screen-nav) {
    padding-top: 135px;
    .squiggle-line {
      position: relative;
      display: inline-block;
      &::before {
        content: '';
        display: block;
        top: 100%;
        position: absolute;
        height: 4px;
        width: 100px;
        background: url(../../img/underline.png) no-repeat center center;
      }
    }
    .arrow {
      &::after {
        content: '';
        display: block;
        top: 130%;
        position: absolute;
        height: 62px;
        width: 100px;
        background: url(../../img/arrow.png) no-repeat center center;
        left: 80%;
      }
    }
  }
  .outer-container {max-width: 600px; margin: 0 auto;
    .container{width:100%;
      .tac{font-family: $font-black; font-size: 37px; color: $ash; text-transform: uppercase;
        &::before{ content: ''; background: url(../../img/icon-star-black.png) no-repeat center center; background-size: 100%; height: 30px; width: 30px; margin-right: 30px; display: inline-block;}
        &::after{ content: ''; background: url(../../img/icon-star-black.png) no-repeat center center; background-size: 100%; height: 30px; width: 30px; margin-left: 30px; display: inline-block;}
      }
      table{width: 80%; margin: 0 auto; border-collapse: collapse;
        tr{
          td{padding: 20px 0 20px;}
          .numb{font-size: 28px; display: block; background-color: $brown; color: $white; font-family: $font-bold; padding: 10px 20px; border-radius: 50%; }
          .text{font-family: $font-regular; font-size: 18px; color: $ash; padding-left: 20px;
            span{font-family: $font-black; color: $ash;}
          }
        }
      }
      //ol{ width: 90%; margin: 0 auto; list-style-type: none;
      //  li{ counter-increment: step-counter; font-family: $font-regular; font-size: 18px; color: $ash; position: relative; height: 80px; margin: 10px 0; padding-left: 80px;
      //    span{font-family: $font-black; color: $ash;}
      //    &::before{ content: counter(step-counter); font-size: 28px; background-color: $brown; color: $white; font-family: $font-bold; position: absolute; left: 0; transform: translateY(-8%); -webkit-transform: translateY(-8%); padding: 10px 20px; border-radius: 50%;}
      //  }
      //}
    }
  }
  *:not(.btn) {
    color: #421f1f;
  }
  .fish {
    display: block;
    position: absolute;
    height: 68px;
    width: 66px;
    background-repeat: no-repeat;
    @media (max-width: 999px) {
      display: none!important;
    }
    &.fish1 {
      background-image: url(../../img/fish-ltr.png);
      top: 30%;
      left: 7%;
    }
    &.fish2 {
      background-image: url(../../img/fish-rtl.png);
      top: 18%;
      right: 10%;
    }
  }
  .icon-twitter {
    background: url(../../img/icon-twitter-white.png) no-repeat center center;
  }
  .icon-instagram {
    background: url(../../img/icon-instagram-white.png) no-repeat center center;
  }
  .promo {
    display: block;
    text-align: center;
    font-size: 41px;
    @media (max-width: $screen-xs) {
      font-size: 25px;

      a span {
        background-size: contain;
        width: 22px;
        margin-right: 2px;
      }
    }
    span {
      color: $brand-quaternary;
    }
  }
  .rules{ position: absolute; left:20%; bottom:10px; width:60%; text-align: center;
    
	p{ font-family: $font-regular; font-size: 12px; color: $black;
		a{ color: $black; text-decoration:underline;}
		sup{ color: $black;}
		&.note{ font-size:10px; text-shadow: 1px 1px 1px rgba(255,255,255,0.9);}
	}
    
	@media (max-width: $screen-sm) {
      width:90%; left: 5%;
    }
  }
  
  //ol {
  //  list-style: none;
  //  max-width: 690px;
  //  margin: 1em auto;
  //  li {
  //    margin-bottom: 1.5em;
  //    position: relative;
  //    line-height: 34px;
  //    min-height: 76px;
  //
  //    @media (max-width: $screen-sm) {
  //      line-height: 29px;
  //    }
  //
  //    &::before {
  //      counter-increment: ol;
  //      content: counter(ol);
  //      position: absolute;
  //      left: -42px;
  //      font-size: 101px;
  //      line-height: .85;
  //      top: 50%;
  //      transform: translateY(-50%);
  //      -webkit-transform: translateY(-50%);
  //    }
  //    p {
  //      margin-bottom: 0;
  //      span.promo {
  //        position: relative;
  //        top: 3px;
  //      }
  //    }
  //  }
  //}
  .theme {
    @include clearfix;
  }
  [class*="content-"] {
    padding: 10px;
    background: #fff;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    width: 49%;
    float: left;
    position: absolute;
    z-index: 1;
    transition: .2s all ease-out;
    &.content-1, &.content-3 {left: 0;}
    &.content-2, &.content-4 {right: 0;}
    &.content-1 {transform: scale(0.7) translateX(-43%) translateY(-30%) rotate(-9deg);}
    &.content-2 {transform: scale(0.7) translateX(38%) translateY(-30%) rotate(8deg);}
    &.content-3 {transform: scale(0.65) translateX(-54%) translateY(-100%) rotate(-13deg);}
    &.content-4 {transform: scale(0.65) translateX(55%) translateY(-100%) rotate(13deg);}
    @media (min-width: $screen-sm) {
      width: 30%;
      max-width: 300px;
      &.content-1, &.content-3 {left: 20%; margin-left: -140px;}
      &.content-2, &.content-4 {right: 20%; margin-right: -140px;}
      &.content-1 {transform: scale(1.1) translateX(-55%) rotate(-20deg);}
      &.content-2 {transform: scale(1.1) translateX(37%) rotate(11deg);}
      &.content-3 {transform: scale(0.8) translateX(33%) translateY(-95%) rotate(-7deg);}
      &.content-4 {transform: scale(0.8) translateX(-32%) translateY(-95%) rotate(13deg);}
    }
  }
  .double-enclosure {
    max-width: 720px;
    margin: 0 auto;
  }
  .enclosure {
    clear: both;
    background: url(../../img/box-lg.png) no-repeat center center / cover;
    @media (min-width: $screen-sm) {
      background: url(../../img/box-sm.png) no-repeat center bottom;
      position: relative;
      height: 0;
      margin: 0 -15px;
      padding-bottom: 36%;
    }
    .text-content {
      padding: 9% 0;
      width: 215px;
      margin: 0 auto;
      @media (min-width: $screen-sm) {
        padding: 5% 6%;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      *:not(.btn) {
        color: #421f1f;
      }
    }
  }
  .small-print {
    margin-top: 110px;

    .btn.btn-smaller {
      font-size: 18px;
    }
  }


  .may-appear {
    display: none;
    text-align: center;
    font-size: 19px;

    p {
      margin-bottom: 5px;
      font-size: 20px;
    }
  }

  @media (max-width: $screen-sm) {
    .may-appear {
      display: block;
      margin-top: 110px;
    }

    .small-print {
      margin-top: 40px;
    }
  }
}
