section {
  overflow: hidden;
}
nav{
  a:hover, a:focus{color:$white;}
  position: fixed;
  width: 100%;
  z-index: 1;
  display:none;
}


// Top Navigation
@media (min-width: $screen-nav) {
  .menu {
    height: 63px;
  }
  //.menu.small{
  //  nav .logo-wrapper{ margin-bottom: -15px;
  //    img{ width: 80%;}
  //  }
  //}
  nav {
    box-shadow: 1px 0 3px rgba(0,0,0,.2);
    a[href^="#"] {
      position: relative;
      padding: 0 3%;
      &::after {
        content: '';
        background-color: $white;
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -5px;
        transform: rotate(45deg);
        transition: .2s all ease-out;
        opacity: 0;
        /*
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-bottom: none;
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        margin-left: -5px;
        transition: .2s all ease-out;
        */
      }
      &.active {
        text-decoration: underline;

        /*&::after {
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
          opacity: 1;
          bottom: -10px;
         
        }*/
      }
    }
  }
}

nav {font-size: 17px; margin-top: 40px; font-family: $font-bold; background: $brown; text-transform: uppercase; padding: 10px 0;
  .ext-pad{ background: $brown;  border-top: 1px solid $pink; border-bottom: 1px solid $pink; padding: 10px 0;
    @media (max-width: $screen-nav - 1) {
      padding: 5px 0 8px;
    }
  }
  .container {
    @media (min-width: $screen-nav) {text-align: center;
      &> * {flex-grow: 3; text-align: center; float: left; padding: 0 2%;
        //&:nth-child(8), &:nth-child(4) { float: none; display: inline-block;}
        //&:nth-child(5), &:nth-child(6), &:nth-child(7) { flex-grow: 1; float: right;}
      }
    }
    @media (max-width: $screen-nav - 1) { display: flex; flex-direction: column;
      a.js-toggle-menu { position: relative; padding: 16px 0 0; line-height: 1;}
      a { display: block; transition: .2s all ease-out;}
      &> a:not(.js-toggle-menu){ text-align: center; max-height: 0; overflow: hidden;}
      & .share{
        position: absolute!important; width: 25px; top:30px; right:20px;
        #social-popout{left:auto; right:-5px;}
      }
      &> .lang { order: 2;}
      &> .rules-popup { order: 1;}
      .double-enclosure {margin:0 auto; margin-top: -100px; margin-bottom: -70px; transition: .2s all ease-out; order: 3;
        .logo-wrapper{width:100%; text-align: center;}
      }
      &.open {
        a { max-height: 53px;}
        .double-enclosure { margin-top: 0; }
      }
    }
    .share { position: relative;
      .icon-share { cursor: pointer;}
    }
    #social-popout { display: none; background: $white; position: absolute; border-radius: 25px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); padding: 0 4px 2px; top: 0; left: 34%; margin-left: 0;
      a { display: block; cursor: pointer;}
      span{cursor: pointer;}
      @media (max-width: $screen-sm){
        left: 24%;
      }
    }
    .clicked + #social-popout { display: block;}
    a.lang { font-size: 27px; color: #a37d48; line-height: 51px;}
  }
  a {color: $white;
    &:focus {text-decoration: none;}
  }
  .double-enclosure { margin:-64px 0; width: 180px; margin-left: 2.5%;
    @media (max-width: $screen-sm){
      margin-left: -4%;
    }
  }
  .logo-wrapper { width:120%; margin:0 auto; margin-bottom: -10px; margin-top: -50px; max-width: 350px;
    img{width:100%; height: auto;}
  }
  //.goldfish-logo { background: url(../../img/logo.png) no-repeat center center / contain; width: 100%; height: 100%;}
}
.mobile-menu{
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  width:100%;
  padding: 50px 0 0;
  z-index: 2;
  background: $white;
  box-shadow: 0 5px 70px #000;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  a{
    color: $brown;
    font-family: $font-bold;
    font-size: 25px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding:10px 20px;
    border-bottom: 1px solid $brown;
    &:last-child{border: none;}
  }
  &.open{display: block; -moz-animation: scaley 1s ease-in-out; -webkit-animation: scaley 1s ease-in-out; -ms-animation: scaley 1s ease-in-out; animation: scaley 1s ease-in-out;}

}
@-moz-keyframes scaley{
  0% {-moz-transform:scaleY(0);}
  100%{-moz-transform:scaleY(1);}
}
@-webkit-keyframes scaley{
  0% {-webkit-transform:scaleY(0);}
  100%{-webkit-transform:scaleY(1);}
}
@-ms-keyframes scaley{
   0% {-ms-transform:scaleY(0);}
   100%{-ms-transform:scaleY(1);}
}
@keyframes scaley{
  0% {transform:scaleY(0);}
  100%{transform:scaleY(1);}
}


html.flexbox,
html.flexboxlegacy {
  nav .container {
    @media (min-width: $screen-nav) {
      display: flex;
      align-items: center;
      margin-left: 9%;
      &> * {
        float: none!important;
        padding: 0!important;
        
        &:nth-child(4) {margin-right: 2.5%; order: 0;}
        &:nth-child(5) {margin-left: 4%; order: 3;}
        &:nth-child(6) {margin-left: 4%; order: 2;}
        &:nth-child(7) {margin-left: 10%; order: 1;}
        &.double-enclosure {
          padding: 0 30px;
          .goldfish-wrapper {
            margin: 0 auto;
          }
        }
      }
    }
  }
}


// Footer
footer {background: $maroon; border-top: 5px solid $off-white; color: $off-white; padding: 1em; font-size:12px;
  a:hover,a:focus{color:$off-white;}
  .follow {
    @media (max-width: 999px) {
      order: -1;
    }
    * {vertical-align: top;}
  }
  p {
    margin-bottom: 0;
  }
  * {
    color: $off-white;
  }
  .container {
    //display: flex;
    //flex-wrap: wrap;
    .copyright{text-align: left; float: left;
      @media (max-width: $screen-nav - 1) {
        float: none;
        text-align: center;
      }
    }
    .follow{text-align: right;  float: right;
      @media (max-width: $screen-nav - 1) {
        float: none;
        text-align: center;
      }
    }
    &>* {
      width: 33%;
      margin: 0 auto;
      float: none;
      margin-top: 11px;
      @media (max-width: $screen-nav - 1) {
        width:100%;
      }
    }
  }
  .icon-twitter,
  .icon-instagram,
  .icon-facebook,
  .icon-youtube {
    display: inline-block;
    width: 21px;
    height: 18px;
    background: url(../../img/icon-social.png) no-repeat center center;
    margin-left: 4px;
    margin-top: 0;
    background-size: auto!important;
  }
  .icon-twitter {background-position: left center;}
  .icon-facebook {background-position: center center;}
  .icon-instagram {background-position: right center;}
  .icon-youtube {background: url(../../img/icon-youtube.png) no-repeat center center / contain; }  // (added after the fact...)
}
.footer-menu {
  display: inline-block;
}



#scrollUp {
  display: inline-block;
  bottom: 24px;
  right: 20px;
  width: 3.9em;
  height: 4em;
  border: 0.5em solid #fff;
  border-radius: 50%;
  margin-right: 1.5em;
  opacity: .75
}

#scrollUp:after {
  content: '';
  display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.7em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #fff;
  border-right: 0.5em solid #fff;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: .75;
}

