.official-rules {
  background-color: $white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  font-family: $font-regular;
  padding: 34px 5%;
  text-align: justify;
  color: $black;
  .tac{font-family: $font-black; font-size: 30px; color: $ash; text-transform: uppercase; margin-bottom: 10px; text-align: center;
    &::before{ content: ''; background: url(../../img/icon-star-black.png) no-repeat center center; background-size: 100%; height: 22px; width: 22px; margin-right: 30px; display: inline-block;}
    &::after{ content: ''; background: url(../../img/icon-star-black.png) no-repeat center center; background-size: 100%; height: 22px; width: 22px; margin-left: 30px; display: inline-block;}
  }
  h2{text-align: center; font-family:$font-bold; font-size: 20px; }
  p{font-size: 12px; font-family: $font-regular;
    strong{font-family: $font-bold; font-weight:normal;}
  }
  ol{ padding-left:15px;}
  li{font-size: 12px; font-family: $font-regular; margin:5px 0;
    strong{font-family: $font-bold; font-weight:normal;}
  }
  table {
    width:100%;
    border-collapse: collapse;
    p{margin:0;}
  }
  table, th, td {
    text-align: center;
    border: 1px solid $black;
  }


}