<ul class="bxslider" ng-click="alert('outer')">
    <li ng-repeat="slide in slides track by $index" ng-init="slideIndex = $index" ng-click="alert('test1')">
        <div class="flex-container">
            <div class="mix category-{{item.category}}"
                 ng-repeat="item in slide track by $index"
                 ng-class="{
                    'category-winner contest-winner': item.banner.contest_winner,
                    'category-Winners sweepstakes-winner': item.banner.sweepstakes_winner,
                    'goldfish-inspired': item.banner.goldfish_inspired,
                    'large': item.featured}"
                 ng-click="alert('clicked');openModal(item, $index)">
                <div class="thumb"><img ng-src="{{item.thumbnail}}" alt=""></div>
            </div>
        </div>
    </li>
</ul>