<div class="mix item-modal" ng-class="{
    'category-winner contest-winner': item.banner.contest_winner,
    'category-Winners sweepstakes-winner': item.banner.sweepstakes_winner,
    'pepperidge-inspired': item.banner.pepperidge_inspired,
    'large': item.featured}">
    <div class="row">
        <!--<div ng-class="item.featured ? 'col-sm-12' : 'col-sm-8'">-->
        <div ng-class="col-sm-12">
            <div class="thumb">
                <div class="img-container" ng-style="{'background-image': 'url(' + item.image + ')'}">
                <!--<img ng-src="<% item.image %>" alt="" ng-show="item.media_type=='image'">-->
                <!--<videogular ng-show="item.media_type=='video'" class="video-container"-->
                            <!--vg-player-ready="onPlayerReady($API)"-->
                            <!--video-resize>-->
                    <!--<vg-media vg-src="item.videoSrc"></vg-media>-->
                    <!--<vg-controls>-->
                        <!--<vg-play-pause-button></vg-play-pause-button>-->
                        <!--<vg-time-display><% currentTime | date:'mm:ss' %></vg-time-display>-->
                        <!--<vg-scrub-bar>-->
                            <!--<vg-scrub-bar-current-time></vg-scrub-bar-current-time>-->
                        <!--</vg-scrub-bar>-->
                        <!--<vg-time-display><% timeLeft | date:'mm:ss' %></vg-time-display>-->
                        <!--<vg-volume>-->
                            <!--<vg-mute-button></vg-mute-button>-->
                            <!--<vg-volume-bar></vg-volume-bar>-->
                        <!--</vg-volume>-->
                        <!--<vg-fullscreen-button></vg-fullscreen-button>-->
                    <!--</vg-controls>-->
                <!--</videogular>-->
                <!--<div class="featured-video-container" ng-if="item.featured" >-->
                    <!--<iframe src="https://www.youtube.com/embed/Jz9fH1QT2VE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>-->
                <!--</div>-->
            </div>
        </div>
        <!--<div class="col-sm-4" ng-if="!item.featured">-->
        <div class="col-sm-12">
            <div class="content">
                <div class="time ng-binding ng-scope" ng-bind="item.date | timeAgo"></div>
                <!--<div class="description ng-binding" ng-bind-html="item.comments | nl2br"></div>-->
                <div class="submitter" ng-bind="'@' + item.author.username"></div>

                <!--<div class="inspiration-text" ng-if="item.banner.goldfish_inspired">Inspiration from Goldfish<sup>&reg;</sup> Employee or Partner</div>-->
            </div>
        </div>
    </div>

    <span title="Close (Esc)" class="modal-close" ng-click="$dismiss()"></span>
    <span class="prev-btn" ng-click="prev()" ng-show="showPrev"></span>
    <span class="next-btn" ng-click="next()" ng-show="showNext"></span>
</div>
